header{
    background-color: #17252A;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 7px;
    text-align: center;
    font-family: Arial;
    font-size: medium;
    position: relative; bottom: 10px
}
body{background-color: #feffff;}
.naglowek{
    
    font-family: Arial;
    font-size: xxx-large;
    color: #17252A;
}

.naglowek_bialy{
    
    font-family: Arial;
    font-size: xxx-large;
    color: #feffff;
}

.abaut{
    font-size: large;
    text-align: center;
    font-family: Arial;
}

.logo{
    float: left;
    position: relative; left: 20px;
}

.logo2{
    float: right;
    position: relative; bottom: 20px;
}

.cz2{
    background-color: #2B7A78;
    color: #feffff;
    padding-bottom: 5px;
    position: relative; top: 13px;
    text-align: center;
    font-size: larger;
}

footer{
    font-size: small;
    text-align: center;
    background-color: #2B7A78;
    color: #feffff;
    padding-top: 1px;
    padding-left: 30px;
    position: relative; top: 13px;
}

.map_bcg{
    background-image: url(placeholder_toskania.jpg);
    background-size: 101%;
    padding-top: 5%;
    padding-bottom: 32%;
}