header{
    background-color: #17252A;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 7px;
    text-align: center;
    font-family: Arial;
    font-size: medium;
    position: relative; bottom: 10px
}
body{background-color: #feffff;}

footer{
    font-size: small;
    text-align: center;
    background-color: #2B7A78;
    color: #feffff;
    padding-top: 1px;
    padding-left: 30px;
    position: relative; top: 13px;
}

.F2023{
    position: relative; right: 4px;

}


.naglowek{
    
    font-family: Arial;
    font-size: xxx-large;
    color: #17252A;
}

.naglowek_bialy{
    position: relative; top: 20px;
    font-family: Arial;
    font-size: xxx-large;
    color: #feffff;

}

.opis_czarny{
    font-size: large;
    text-align: center;
    font-family: Arial;
    color: #17252A;
}



.opis_bialy{
    background-color: #2B7A78;
    color: #feffff;
    padding-bottom: 5px;
    position: relative; top: 13px;
    text-align: center;
    font-size: larger;
}

.logo{
    float: left;
    position: relative; left: 20px;
}


/* logo to jest niewidoczne, służy po to aby napis PsP wyświetlał się na środku*/
.logo2{
    float: right;
    position: relative; bottom: 20px;
}

/* Guziki */

.guzik{
    size: 40px;
    text-transform: uppercase; 
    background-color: #feffff;  
    border: 3px solid #17252A;
    color: #17252A;
    font-size: large;
    padding: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 10px;
    font-weight: bold;
  }

 .guzik:hover{
    background-color: #3AAFA9; 
  }

  .guzik:active{
    background-color: #2B7A78;
  }

