header{
    background-color: #17252A;
    color: #ffffff;
    padding-top: 1px;
    padding-bottom: 0px;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: x-large;
    position: relative; bottom: 10px
}

.naglowek{
    
    font-family: fantasy;
    font-size: xxx-large;
    color: #17252A;
}

.abaut{
    font-size: large;
    text-align: center;
    font-family: Arial;
}

.logo{
    float: left;
    position: relative; bottom: 40px;
}