header{
    background-color: #9e8e8e;
    color: #ffffff;
    padding: 6px;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: xx-large;
}

.naglowek{
    text-align: center;
    font-family: fantasy;
    font-size: xxx-large;
}

.abaut{
    font-size: large;
    text-align: center;
    font-family: Arial;
}